<a href="https://colab.research.google.com/github/ammad19/AI-course-exercises/blob/master/10000%2Bcoding%20practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Radian to Degree
import math
x = int(input("enter angle in radians: "))
y = float(x*180/3.14)
print(y)

enter angle in radians: 34
1949.0445859872611

In [10]:
#Avg of numbers
x = input("Enter nos seperated by space: ")
list_x = x.split()
sum = 0
for item in list_x:
  sum += int(item)
avg = sum/len(list_x)
print(avg)

Enter nos seperated by space: 3 3 3
3.0