<a href="https://colab.research.google.com/github/ammad19/AI-course-exercises/blob/master/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
 #Convert a 1D array to a 2D array with 2 rows?

In [3]:
 import numpy as np
arr1 = np.arange(0,9).reshape(3,3)
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [4]:
 #How to stack two arrays vertically?
arr1 = np.array([[0,1,2,3,4],[5,6,7,8,9]])
arr2 = np.ones((2,5))
arr1
arr2
arr3 = np.vstack((arr1,arr2))
arr3 = arr3.astype('int')
arr3

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [5]:
 #How to stack two arrays horizontally?
arr4 = np.hstack((arr1,arr2))
arr4 = arr4.astype('int')
arr4

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

In [6]:
 #How to convert an array of arrays into a flat 1d array?
arr1 = np.array([[0,1,2,3,4],[5,6,7,8,9]])
arr1
arr1 = np.ravel(arr1)
arr1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
 #How to Convert higher dimension into one dimension?
arr2 = np.array([[ 0, 1, 2],
[ 3, 4, 5],
[ 6, 7, 8],
[ 9, 10, 11],
[12, 13, 14]])
arr2
arr2 = np.ravel(arr1)
arr2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [10]:
 #Convert one dimension to higher dimension?
arr3 = np.array([ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14])
arr3
arr3 = arr3.reshape(5,3)
arr3

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [12]:
 #Create 5x5 an array and find the square of an array?
arr4 = np.random.randint(1,25, size = (5,5))
arr4
arr4 = np.square(arr4)
arr4

array([[ 49,  25, 441,   4, 324],
       [  9,  16, 196,   4,  36],
       [289, 576, 289, 196,  36],
       [529,  81,  36, 100, 484],
       [289,   9, 144,   9, 169]])

In [27]:
 
#Create 5x6 an array and find the mean?
arr5 = np.random.randint(1,20, size = (5,6))
result = arr5.mean()
arr5
result
#standard deviation
np.std(arr5)
#median
np.median(arr5)
#transpose
np.transpose(arr5)

array([[17,  5, 19, 19, 17],
       [15, 19, 14,  1,  1],
       [ 2,  1,  6, 11,  9],
       [ 2,  9,  9,  7, 14],
       [ 1, 16,  5,  9,  2],
       [18, 11,  1, 18, 18]])

In [32]:
 
#Create a 4x4 an array and find the sum of diagonal elements?
arr = np.random.randint(1,20, size = (4,4))
arr
np.trace(arr)
#determinant
np.linalg.det(arr)
#5th & 95th percentile
np.percentile(arr, 5)
np.percentile(arr, 95)

18.25

In [35]:
#if given array has null values?
np.isnan(arr2).any()

False