<a href="https://colab.research.google.com/github/ammad19/AI-course-exercises/blob/master/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

from numpy import nan as NA

data = pd.DataFrame([[1., 6.5, NA], [1., NA, NA], 
                     [NA, NA, NA], [NA, 6.5, NA]], 
                    columns = list('abc'))
display(data)
#remoe all rows that have null values
cleaned = data.dropna()

#how = all = remove rows only all data is NaN
#cleaned = data.dropna(how='all')
#display(cleaned)
print() # blank line
#print(cleaned)

#Passing how='all' will only drop rows that are all NA:
#data.dropna(how='all')

# dropping columns that have all null values
data.dropna(axis=1)
data.dropna(axis=1, how='all')

#filling of data

In [ ]:
import numpy as np
from numpy import nan as NA
df = pd.DataFrame(np.random.randn(7, 3))
#print(df)
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
#display(df)
#Calling fillna with a dict, you can use a different fill value for each column:
#df.fillna(1.5)
#display(df)

# column number 1 will be filled with 0.5
# column number 2 will be fileld with 0
#df = df.fillna({1: 0.5, 2: 0})
#display(df)

# fill  not values from left column (axis=0 means from top row)
#df = df.fillna(method='ffill')
#display(df)

#df = df.fillna(method='ffill', axis = 1)
#display(df)
df = df.fillna(method='ffill', limit=1, axis=1)
display(df)

In [ ]:
#removing duplicates
import pandas as pd

data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]} )
#display(data)
#data.duplicated()
#data = data.drop_duplicates()
#display(data)
data['v1'] = ['one', 'two', 'one', 'four', 'one', 'six', 'two']
#display(data)
display(data[ ['k1','v1'] ])
data = data.drop_duplicates(['k1', 'v1'])

display(data)

In [ ]:
#replacing values
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(7, 3))

df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan
#display(df)
df = df.replace(np.nan , -999)
display(df)
#df = df.replace(-999 , -9)
display(df)
df =df.replace([-999, -9], [101, 0])
display(df)

In [ ]:
#function mapping
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
        index=['Ohio', 'Colorado', 'New York'],
        columns=['one', 'two', 'three', 'four'])

#display(data)
transform = lambda x: x[:4].upper()
data.index = data.index.map(transform)
display(data)

In [ ]:
#detecting & filtering
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()
col = data[2]
#print(col)
#col[np.abs(col) > 3]
#To select all rows having a value exceeding 3 or –3, 
#you can use the 'any' method on a boolean DataFrame:
#any method will check all cells 
outliers = data[(np.abs(data) > 3).any(1)]
print(len(outliers), len(data))
outliers
# check the difference
#print(data)
#data[(np.abs(data) > 3)]

In [ ]:
#permutation & sampling
# Permuting (randomly reordering)
# a Series or the rows in a DataFrame
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
#print( df.shape )
sampler = np.random.permutation(4)
print(sampler)
#df = df[sampler]
display(df)
df.take(sampler)

In [ ]:
#Regular Expressions
import re
text = "foo    bar\t baz \tqux"
#normal split = text.split()
#re.split('\s+', text) # spliting based on whitespaces
#text.split(" ")
#['foo', 'bar', 'baz', 'qux']
# compile once to use again and again and save time
rgx = re.compile('\s+')
rgx.split(text)

In [ ]:
#Vectorized String Functions in pandas
import re
import pandas as pd
import numpy as np
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = ["simpleEmail@email.com",   "simple.email@email.com",  
        "plus+symbol@email.com",   "dash-symbol@email.com",  
     "q@email.com",   
    "“unusual”@email.com",   "dash-symbol@email-dash.com",   "test@emailServer",  
  "” “@email.com",   "user@[IPv6:2001:DB8::1]",   
  "example@localhost",   "example@s.solutions",   
  "12345@email.com"]   

data = pd.Series(data)
display(data)
pattern = '([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'
#data.str.findall(pattern, flags=re.IGNORECASE)
matches = data[data.str.match(pattern, flags=re.IGNORECASE)]
matches