<a href="https://colab.research.google.com/github/ammad19/AI-course-exercises/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Radian to Degree
import math
x = int(input("enter angle in radians: "))
y = float(x*180/3.14)
print(y)

enter angle in radians: 34
1949.0445859872611

In [ ]:
#Avg of numbers

Enter nos seperated by space: 3 3 3
3.0

In [ ]:
#Factorial of integer
import math
x = int(input("Enter no to calculate factorial:"))
y = math.factorial(x)
print(y)

Enter no to calculate factorial:3
6

In [ ]:
#Factorial of integer
result = 1
x = int(input("Enter no to calculate factorial:"))
if x == 0:
   print("The factorial of 0 is 1")
elif x > 0:
  while x != 0:
    result *= x
    x -= 1
  print(result)

Enter no to calculate factorial:0
The factorial of 0 is 1

In [ ]:
#Find vowels
x = input("Enter a string: ")
count = 0
vowels = 'aeiouAEIOU'
for ch in x:
    if ch in vowels:
        count += 1
print(count)

Enter a string: abcd
1

In [ ]:
#Find vowels
x = input("Enter a string: ")
list1 = [char for char in x]
print(list1)
vowels = ["a", "e", "i", "o", "u"]
#string1 = ''.join(list1)
count = 0
for item in list1:
  for vow in vowels:
    if item == vow:
        count += 1
print(count)

Enter a string: aeiou
['a', 'e', 'i', 'o', 'u']
5

In [ ]:
#Find x's & o's
x = input("Enter a string: ")
list1 = [char for char in x]
print(list1)
count = 0
count1 = 0
for item in list1:
  if item == "x":
    count += 1
  elif item == "o":
    count1 += 1
print(count,count1)
if count == count1:
  print(True)

Enter a string: xxxoo
['x', 'x', 'x', 'o', 'o']
3 2

In [ ]:
#add the index to list
list2 = [1,2,3,4,5]
list3 = []
x = 0
for item in list2:
  list3.append(x+item)
  x+=1
print(list3)

#List comprehensions
squares = [value**2 for value in range(1,11)]
print(squares)

#summing a million
million = [value for value in range(1,1000)]
print(million)

[1, 3, 5, 7, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

In [ ]:
#Profit margin
cost_price = 100
sale_price = 150
profit = (sale_price - cost_price)/sale_price
percentage = "{:.2%}".format(profit)
print(percentage)

33%

In [ ]:
n=int(input('please enter the no. in decimal format: '))
x=n
k=[]
while (n>0):
    a=int(float(n%2))
    #print(a)
    k.append(a)
    n=(n-a)/2
k.append(0)
#print(k)
string=""
for j in k[::-1]:
    string=string+str(j)
print('The binary no. for %d is %s'%(x, string))
print('The binary no. for {} is {}'.format(x,string))

please enter the no. in decimal format: 3
The binary no. for 3 is 011
The binary no. for 3 is 011

In [ ]:
#add the index to list
list2 = [1,2,2,4,2]
list3 = []
x = 0
for item in list2:
  list3.append(x+item)
  x+=1
print(list3)

#List comprehensions
squares = [value**2 for value in range(1,11)]
print(squares)

#summing a million
million = [value for value in range(1,100)]
print(million)
print(sum(million))

#list of odd numbers
odd = [value for value in range(1,20,2)]
print(odd)

#multiples of 3
threes = [value for value in range(1,30,3)]
x = []
for value in range(1,31):
  threes = value % 3
  if threes == 0:
    x.append(value)
print(x)

#list of cubes
y = []
for value in range(1,10):
  cube = value**3
  y.append(cube)
print(y)

#list comprehension for cubes
cubes = [value**3 for value in range(1,10)]
print(cubes)

#dictionary
dic1 = {
  'nile': 'Egypt',
  'kabul': 'Afghanistan',
  'sutlej': 'Pakistan'
  }
for k,v in dic1.items():
  print(k.title() + " runs through " + v.title())

#list of dictionaries 
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}
aliens = [alien_0, alien_1, alien_2]
for alien in aliens:
  print(alien)

#8.3 T.Shirt
def make_shirt(size = 12, text = "cool"):
  print("shirt size:", size, "with message " + text)

make_shirt(10, "doom")
make_shirt()

#8.7 album
def make_album(artist = "Abba", genre = "Rock"):
  album = {'artist': artist, 'genre': genre}
  return album
album_details = make_album("Nirvana", "Grunge")
print(album_details)
album_details = make_album()
print(album_details)

#8.9, 8.10, 8.11
list8 = ["jadoo1", "jadoo2", "jadoo3"]
modify_list8 = []
def modify_magicians(list_j):
  for name in list_j:
    modify_list8.append("The Great " + name)
    
def show_magicians(modify_list8):
  for name in list8:
    print("Name of magicians are: " + name)
  for name in modify_list8:
    print("Name of magicians are: " + name)
modify_magicians(list8[:])
show_magicians(modify_list8)

#8.12 Sandwitches
def sandwitch(*items):
  print("Items on sandwitch are: ")
  for item in items:
    print(item)
sandwitch('tomatoes','onions','olives','beef')

#8.14
def Car(manufacturer,model,**details):
  profile = {}
  profile['manufacturer'] = manufacturer
  profile['model'] = model
  for k,v in details.items():
    profile[k] = v
  print(profile)
Car('Honda','Civic',Year="2020",Color="Silver")
    
#9.1, 9.4
class Restaurant():
  def __init__(self, name, cuisine):
    self.name = name
    self.cuisine = cuisine
    self.number_served = 0
  def describe_restaurant(self):
    print(f"Restaurant {self.name} is open for {self.cuisine}")
  def open_restaurant(self):
    print("Restaurant is open")
  def read_served(self):
    print(f"Served nos are: {self.number_served}")
  def set_no_served(self,nos):
    self.number_served = nos
  def inc_no_served(self,nos1):
    self.number_served += nos1
restaurant1 = Restaurant("Diva","Savory")
print(restaurant1.name)
restaurant1.describe_restaurant()
restaurant1.open_restaurant()
restaurant1.set_no_served(5)
restaurant1.read_served()
restaurant1.inc_no_served(10)
restaurant1.read_served()

[1, 3, 4, 7, 6]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
4950
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[1, 8, 27, 64, 125, 216, 343, 512, 729]
[1, 8, 27, 64, 125, 216, 343, 512, 729]
Nile runs through Egypt
Kabul runs through Afghanistan
Sutlej runs through Pakistan
{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'red', 'points': 15}
shirt size: 10 with message doom
shirt size: 12 with message cool
{'artist': 'Nirvana', 'genre': 'Grunge'}
{'artist': 'Abba', 'genre': 'Rock'}
Name of magicians are: jadoo1
Name of magicians are: jadoo2
Name of magicians are: jadoo3
Name of magicians are: The Great jadoo1
Name of magicians are: The Great jadoo2
Name of magicians are: The Great jadoo3
Items on sandwitch are:
tomatoes
onions
olives
beef
{'manufacturer': 'Honda', 'model': 'Civic', 'Year': '2020', 'Color': 'Silver'}
Diva
Restaurant Diva is open for Savory
Restaurant is open
Served nos are: 5
Served nos are: 15

In [ ]:
def num1(no1, no2):
  print(no1*no2)
num1(4, no2 = 5)

20

In [ ]:
def fun1(**nos):
  for k,v in nos.items():
    print(k,v)
fun1(a=2,cd='3',e='98')

a 2
cd 3
e 98

In [ ]:
list1 = []
def fun1(no1,no2,**no3):
  list1.append(no1)
  list1.append(no2)
  for k,v in no3.items():
    list1.append(v)
  print(list1)
fun1(23,44,a=2,b=3,c=4,d=5,e=6)

[23, 44, 2, 3, 4, 5, 6]

In [1]:
from keras import layers

Using TensorFlow backend.